@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*top bar section*/
.top-bar-main-outer{
    width: 100%;
    height: 35px;
    background-color: #ecf0f1;
    display: flex;
}
.top-bar-inner{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.top-nav-left-list{
    display: flex;
    list-style: none;
}
.top-nav-left-list li{
    margin-right: 20px;
}
.top-nav-left-list li a{
    text-decoration: none;
    color: black;
}
.top-nav-left-list li a:hover{
    text-decoration: underline;
}
.top-left-inner-box{
    height: 25px;
    background-color: white;
    margin-right: 10px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-left-inner-box small{
    margin: 0;
}
.top-left-inner-box:nth-child(3){
    margin: 0;
}
.top-left-inner-box:hover{
    background-color: #95a5a6;
    cursor: pointer;
}
.top-bar-right{
    justify-content: flex-end;
}
/*top bar section*/

/*middle bar section*/

.middle-bar-main-outer{
    width: 100%;
    height: 100px;
    display: flex;
}
.middle-bar-inner-box{
    flex: 1;
    display: flex;
    align-items: center;
}
.middle-bar-inner-box img{
    width: 100px;
}
.search-outer{
    width: 100%;
    height: 35px;
    border: 1px solid #e67e22;
    display: flex;
}
.search-inner{

}
.search-left{
    flex: 1;
    display: flex;
}
.search-left input{
    flex: 1;
    padding: 0 10px;
    border: none;
}
.search-left input:focus{
    outline: none;
}
.search-right{
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*middle bar section*/

/*Nav bar section*/
.nav-outer{
    width: 100%;
    height: 50px;
    background-color: #34495e;
    display: flex;
    align-items: center;

}
.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-list li{
    margin-right: 20px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
/*Nav bar section*/

/*Slider bar section*/
.main-outer-slider-bar{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    margin: 0!important;
}
.slider-outer{
    border: 1px solid red;
}
.right-slider-outer, .left-slider-outer{
    display: flex;
    flex-direction: column;
}
.right-slider-outer-top, .left-slider-outer-top{
    border: 1px solid red;
    flex: 1;
}
/*Slider bar section*/













