.main-outer{
    width: 300px;
    height: 400px;
    border: 1px solid red;
}
.image-outer{
    height: 200px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}
.image{
    height: 100%;
}